@import '../../assets/css/theme.scss';

.page-index {
  .page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .logo {
      margin: 0 auto;
      margin-top: 60px;
      font-size: 0;
      text-align: center;

      .img {
        width: 144px;
        height: 144px;
      }
    }
  }
}

.menus {
  padding-left: 10px;
  padding-right: 10px;

  &-header {
    width: 100%;
    padding: 17px 5px;
    background-color: grey;
    display: flex;
    align-items: center;
  }

  &-icon {
    font-size: 18px;
    width: 60px;
    height: 60px;
  }

  &-title {
    font-size: 30px;
    margin-left: 10px;
  }

  &-item {
    box-sizing: border-box;
    position: relative;
    display: flex;
    padding: 0 10px;
    font-size: 26px;
    align-items: center;
    height: 80px;
    justify-content: space-between;
  }

  &-item::after {
    content: '';
    position: absolute;
    -webkit-transform-origin: center;
    transform-origin: center;
    box-sizing: border-box;
    pointer-events: none;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    border: 0 solid #e5e5e5;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    border-bottom-width: 1px;
  }
}
