@import './assets/css/theme.scss';
@import '~taro-ui/dist/style/index.scss';
@import './assets/font-awesome/font-awesome.scss';
@import './assets/font/iconfont.scss';

.page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
  background-color: #fdfdfd;

  view,
  div {
    box-sizing: border-box;
  }

  &-container {
    flex: 1;
    height: 100%;
    overflow: scroll;
  }
}
