@import './assets/css/theme.scss';
@import '~taro-ui/dist/style/index.scss';
// @import './assets/font-awesome/font-awesome.scss';
// @import './assets/font/iconfont.scss';

.page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
  background-color: #fdfdfd;

  view,
  div {
    box-sizing: border-box;
  }

  &-container {
    flex: 1;
    height: 100%;
    overflow: scroll;
  }
}

.line {
  position: relative;
}

.line::after {
  content: '';
  position: absolute;
  -webkit-transform-origin: center;
  transform-origin: center;
  box-sizing: border-box;
  pointer-events: none;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  border: 0 solid #e5e5e5;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  border-bottom-width: 1px;
}
